<!doctype HTML>
<html>

<head>
  <meta charset="UTF-8">
  <style>
    body {
      margin: 0;
    }
  </style>
  <link rel="stylesheet" href="./views/styles/editor.css">
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="//unpkg.com/three"></script>
  <script src="//unpkg.com/three-spritetext"></script>
  <script src="//unpkg.com/3d-force-graph"></script>
  <script src="//unpkg.com/force-graph"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
  </script>
  <script src="./models/environment/environment.js"></script>
  <script src="./models/environment/gedge.js"></script>
  <script src="./models/environment/gnode.js"></script>
  <script src="./models/environment/dataset.js"></script>
  <script src="./controllers/env_controller.js"></script>
  <script src="./controllers/env_editor.js"></script>
  <script src="./views/client_events.js"></script>
  <script src="./views/infobox.js"></script>
  <script src="./models/environment/namingerror.js"></script>
  <script>
  </script>
  <title>
    Graph editor 2
  </title>
</head>

<body onload="loadEditor()">
  <!--https://heliosanctus.fandom.com/wiki/Custom_HTML_Infobox-->
  <div id="wrapper">
    <div id="graph"></div>
    <div id="infobox-container">
      <table id="infobox">
        <tr class="infobox-header">
          <th colspan="2">
            Graph infobox</th>
        </tr>
        <tr>
          <th colspan="2" style="padding:0;">[[File:Blankicon.png|258px]]</th>
        </tr>
        <tr>
          <td><b>Artist</b></td>
          <td>type here</td>
        </tr>
        <tr class="infobox-header">
          <th colspan="2">
            Background Information</th>
        </tr>
        <tbody id="graph-info">
          <tr>
            <td><b>Number of ants</b></td>
            <td>type here</td>
          </tr>
          <tr>
            <td><b>Running time</b></td>
            <td>type here</td>
          </tr>
        </tbody>
        <tr class="infobox-header">
          <th colspan="2">
            Item
            Information</th>
        </tr>
        <tbody id="item-info">
        </tbody>
      </table>
    </div>
  </div>
  <div id="cockpit">
    <table>
      <tr>
        <td>
          info cell 1
        </td>
      </tr>
      <tr>
        <td>
          info cell 1
        </td>
      </tr>
      <tr>
        <td>
          info cell 1
        </td>
      </tr>
      <tr>
        <td>
          info cell 1
        </td>
      </tr>
      <tr>
        <td>
          info cell 1
        </td>
      </tr>
      <tr>
        <td>
          info cell 1
        </td>
      </tr>
      <tr>
        <td>
          info cell 1
        </td>
      </tr>
      <tr>
        <td>
          info cell 1
        </td>
      </tr>
      <tr>
        <td>
          info cell 1
        </td>
      </tr>
      <tr>
        <td>
          info cell 1
        </td>
      </tr>
      <tr>
        <td>
          info cell 1
        </td>
      </tr>
      <tr>
        <td>
          info cell 1
        </td>
      </tr>
      <tr>
        <td>
          info cell 1
        </td>
      </tr>
      <tr>
        <td>
          info cell 1
        </td>
      </tr>
      <tr>
        <td>
          info cell 1
        </td>
      </tr>
      <tr>
        <td>
          info cell 1
        </td>
      </tr>
    </table>
  </div>
</body>

</html>