<!doctype HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <style> 
        body { margin: 0; } 
    </style>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="//unpkg.com/three"></script>
    <script src="//unpkg.com/three-spritetext"></script>
    <script src="//unpkg.com/3d-force-graph"></script>
    <script src="//unpkg.com/force-graph"></script>
    <script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script src="./models/environment/environment.js"></script>
    <script src="./models/environment/gedge.js"></script>
    <script src="./models/environment/gnode.js"></script>
    <script src="./controllers/env_controller.js"></script>
    <script>
    
      function loadEditor(){
        var controller = new EnvironmentController();
        let n1 = new GNode('first');
        let n2 = new GNode('second');
        let env = new Environment([n1,n2],[{source: n1, target: n2}]);
        env.removeNode(n1);

        console.log('end');
      }
    </script>
    <title>
      Graph editor 2
    </title>
  </head>
  <body onload="loadEditor()">
    <div id = "graph" style="border:3px solid black;"></div>
  </body>
</html>